### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Maven / Java ###
target/
${project.build.directory}/
*.class
hs_err_pid*

### Logs ###
*.log
logs/

### Secrets / Local env ###
.env
.env.*
*.pem
*.key
*.p12
application-local.properties
application-local.yml
application-local.yaml
application-*.properties
application-*.yml
application-*.yaml
